<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Hello from Nodejs server, using express application framework!</h2>
    <p>This is a test, and if you're reading this, then it's all cool my man</p>
  </body>
</html>
