<div class="wrapper">
  <mat-card>
    <mat-card-title>
      Masivno zbiranje podatkov
    </mat-card-title>
    <mat-card-subtitle>
      Projekt FERI 2019/2020
    </mat-card-subtitle>
    <mat-divider></mat-divider>
    <mat-card-content>
      <mat-list>
        <div mat-subheader>Kaj vse omogoča</div>
        <mat-list-item>
          <span class="material-icons">
            arrow_right_alt </span
          >Pregled prometnega stanja na cestah
        </mat-list-item>

        <mat-list-item>
            <span class="material-icons">
              arrow_right_alt </span
            >Pregled stanja cest (poškodbe cestišča)
          </mat-list-item>

          <mat-list-item>
            <span class="material-icons">
              arrow_right_alt </span
            >Sledenje lastni vožnji in beleženje znakov, prekrškov
          </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
